plotly==5.3.1
fake_useragent==0.1.11
numpy==1.18.1
requests==2.22.0
pandas==1.0.1
beautifulsoup4==4.10.0
geopy==2.2.0
helper==2.5.0
pdfplumber==0.5.28
selenium==4.0.0
streamlit==1.1.0
path==13.1.0
pathlib2==2.3.5
glob2==0.7
